<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MLMFOTO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99C9BD5E1BA2CE3500B1E847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99C9BD721BA2CE3600B1E847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99C9BD7D1BA2CE3600B1E847</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
